* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  color: black;
}

/**  START ** NAVBAR **/
.navbar {
  width: 100%;
  display: flex;
  padding-top: 0.5rem;
  height: 4rem;
}
.navbar_tittle {
  display: none;
}
.navbar_icon {
  width: 20%;
  height: 100%;
}
.navbar_search {
  width: 75%;
  height: 90%;
  display: flex;
  border: 0.2rem solid #a3a0a0;
  border-radius: 2rem;
}
.navbar_search_button {
  all: unset;
  width: 20%;
}
.navbar_search_button_icon {
  width: 70%;
  height: 70%;
  margin-left: 0.3rem;
}
.navbar_search_bar {
  all: unset;
  width: 80%;
  font-size: 1.2rem;
}

/** END ** NAVBAR **/
/** START ** CATEGORIES ** ICONS **/
.categories {
  margin: 0.4rem 0;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.categories::-webkit-scrollbar {
  display: none;
}
.categories_icon {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}
.categories_icon_img {
  width: 100%;
  height: 2.5rem;
}
.categories_icon_text {
  color: grey;
}

/** END ** CATEGORIES ** ICONS  **/
/** START ** GENERAL ** CONTENT **/
.general {
  width: 99%;
  overflow-y: scroll;
  z-index: 1;
}
.general::-webkit-scrollbar {
  display: none;
}
.general_slogan {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}
.general_slogan_text {
  margin-top: 1.6rem;
  font-size: 1.5rem;
}
.general_slider {
  width: 100%;
  height: 29rem;
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 0;
}
.general_slider::-webkit-scrollbar {
  display: none;
}
.general_slider_item {
  flex-shrink: 0;
  width: 100%;
  left: 0;
  position: sticky;
  text-align: center;
}
.general_slider_item_img {
  position: relative;
}
.general_slider_item_free {
  position: relative;
  top: -25rem;
  font-size: 1.3rem;
  text-align: center;
  padding-left: 0.5rem;
  z-index: 5;
  color: white;
}
.general_slider_item_free_ship {
  color: white;
  font-style: italic;
  font-size: 0.6rem;
  position: relative;
  left: 7rem;
}
.general_slider_item_summer {
  font-size: 1.3rem;
  color: white;
  position: relative;
  top: -27rem;
  z-index: 3;
  padding-left: 2.3rem;
}
.general_slider_item_tech {
  width: 100%;
  font-size: 1.3rem;
  color: white;
  position: relative;
  top: -27rem;
  z-index: 3;
}
.general_slider_item_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.7rem;
  scroll-snap-align: center;
  filter: brightness(75%);
}

.general_slider::before {
  content: "";
  background-image: url(./images/arrow.png);
  position: absolute;
  top: 40%;
  right: 1rem;
  background-size: cover;
  background-position: center;
  animation: arrow 2s infinite;
  width: 3rem;
  height: 3rem;
  z-index: 6;
}

@keyframes arrow {
  50% {
    transform: translateX(-0.5rem);
  }
}
/** END ** GENERAL ** CONTENT **/
/** START ** END PAGE ** MENU **/
.end-menu {
  width: 100%;
  height: 34rem;
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
}
.end-menu_category {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.end-menu_category_text {
  font-size: 0.75rem;
  color: #a3a0a0;
}

.burguer {
  display: none;
}

/** END ** END PAGE ** MENU **/
/** START RESPONSIVE DESIGN **/
@media (min-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin-bottom: 1rem;
  }
  .navbar_icon {
    width: 15%;
    height: 50%;
  }
  .navbar_search {
    width: 94%;
    margin: 0 auto;
    height: 50%;
  }
  .navbar_tittle {
    display: block;
    width: 30%;
  }
  .navbar_tittle_text {
    font-size: 3rem;
    color: #8338ec;
  }
  .categories_icon {
    flex-shrink: unset;
  }
  .general_slogan_text {
    font-size: 3.5rem;
    margin: 1.6rem 1rem;
  }
  .general_slider {
    height: unset;
  }
  .general_slider::before {
    width: 5rem;
    height: 5rem;
  }
  .general_slider_item_free,
  .general_slider_item_summer,
  .general_slider_item_tech {
    top: -56rem;
    font-size: 4.3rem;
  }
  .end-menu {
    height: 4rem;
  }
  .end-menu_category_text {
    font-size: 1rem;
  }
  @keyframes arrow {
    50% {
      transform: translateX(-1rem);
    }
  }
}
@media (min-width: 1200px) {
  .navbar {
    justify-content: end;
  }
  .navbar_icon {
    width: 10%;
  }
  .navbar_tittle {
    width: 20%;
  }
  .general_slider {
    gap: 2rem;
    justify-content: center;
  }
  .general_slider_item {
    position: relative;
    flex-shrink: unset;
    width: 30%;
  }
  .general_slider_item_free, .general_slider_item_summer, .general_slider_item_tech {
    top: unset;
    top: -26rem;
    font-size: 2rem;
  }
  .general_slider::before {
    display: none;
  }
  .end-menu * {
    transition: all 0.25s ease-in;
  }
  .end-menu {
    position: absolute;
    top: 4rem;
    flex-direction: column;
    width: 13rem;
    left: 17px;
    height: 16rem;
    display: none;
    padding-right: 1rem;
  }
  .end-menu:hover {
    display: flex;
  }
  .end-menu_category {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    background-color: white;
    transition: all 0.25s ease-in;
  }
  .end-menu_category_text {
    color: black;
    font-weight: 500;
  }
  .end-menu_category:hover {
    background-color: #e6e6e6;
    transition: black 0.5s ease-out;
  }
  .burguer {
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    z-index: 4;
  }
  .burguer_button {
    all: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: black 5s ease-in-out;
  }
  .burguer_button:hover :first-child {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .burguer_button:hover :nth-child(2) {
    display: none;
  }
  .burguer_button:hover :last-child {
    transform: rotate(-45deg);
  }
  .burguer_button_bar {
    width: 100%;
    height: 0.5rem;
    background-color: #8338ec;
  }
  .burguer:hover + .end-menu {
    display: flex;
  }
  .icon {
    stroke: black;
  }
}
/** END RESPONSIVE DESIGN **//*# sourceMappingURL=styles.css.map */