* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  color: black;
}

/** START ** FOOTER **/
.footer {
  position: relative;
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  top: 5rem;
}
.footer_divBar {
  margin: auto;
  width: 95%;
  height: 0.3rem;
  background-color: #8338ec;
  border: none;
  border-radius: 1rem;
}
.footer_part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.footer_part_label {
  width: 100%;
  position: relative;
}
.footer_part_label_button {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer_part_label_button::after {
  content: url(../images/expand_arrow.svg);
  margin-right: 1rem;
}
.footer_part_label_button_text {
  margin-left: 1rem;
}
.footer_part_label_inpt {
  display: none;
}
.footer_part_label_inpt:checked + .footer_part_label_list {
  display: block;
}
.footer_part_label_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;
}
.footer_part_label_list_item {
  margin: 1.2rem 0 1.2rem 1rem;
}
.footer_part_tittle {
  margin-top: 1rem;
}
.footer_part_link {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.link-hover {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
}
.link-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8338ec;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.link-hover:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

/** END ** FOOTER **/
/** START RESPONSIVE DESIGN **/
@media (min-width: 768px) {
  .footer_part_label_button_text {
    margin-left: 1.5rem;
  }
  .footer_part_label_button::after {
    margin-right: 1.5rem;
  }
  .footer_part_label_list {
    margin-left: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding-bottom: 1rem;
  }
  .content_photo {
    width: 80%;
  }
  .content_aboutUs {
    margin-left: 10%;
  }
  .content_text {
    margin: 1rem 10%;
  }
  .content_slogan {
    padding: 1rem 10%;
    line-height: 7rem;
  }
  .footer_part_label_button_text {
    margin-left: 2.5rem;
  }
  .footer {
    margin-top: 2rem;
  }
}
/** END RESPONSIVE DESIGN **/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/** GENERAL PHOTO STYLE **/
.photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

/** START ** NAVBAR **/
.navbar {
  height: 4rem;
  background-color: #8338ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.7;
}
.navbar_icon {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar_icon_logo {
  all: unset;
  height: 90%;
  margin-left: 1rem;
}
.navbar_tittle {
  color: #ffbe0b;
  margin-right: 1rem;
}

/** END ** NAVBAR **/
/** START GENERAL CONTENT **/
.content {
  position: relative;
  top: 4rem;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
}
.content::-webkit-scrollbar {
  display: none;
}
.content_slogan {
  font-size: 3rem;
  padding: 1rem 2rem;
}
.content_photo {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  gap: 1rem;
}
.content_photo_small {
  width: 50%;
  aspect-ratio: 1/1;
}
.content_aboutUs {
  width: 90%;
  font-size: 2rem;
  margin-left: 1rem;
  color: #8338ec;
  text-align: start;
}
.content_text {
  margin: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #abb8c3;
  text-align: start;
}
.content_contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}
.content_contact_label {
  margin: 1rem 0;
  color: #8338ec;
  font-size: 1.25rem;
  text-align: start;
}
.content_contact_email {
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.6rem;
  padding-left: 0.7rem;
}
.content_contact_text {
  height: 5rem;
  padding-left: 0.7rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  text-align: start;
}
.content_contact_button {
  margin-top: 1rem;
  width: 8rem;
  border: none;
  background-color: #8338ec;
  color: white;
  height: 2rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
}
.content_contact_button:hover .content_contact_button_ball {
  animation: spin 2s linear infinite;
  display: block;
}
.content_contact_button_ball {
  position: relative;
  width: 2rem;
  height: 100%;
  top: -1.3rem;
  left: -0.1px;
  border-radius: 100%;
  display: none;
}
.content_contact_button_ball::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #ffbe0b;
  opacity: 0.9;
  box-shadow: 0 0 4px 4px #ffbe0b;
  border-radius: 100%;
  top: -15px;
  left: 6.5px;
}
.content_publi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.content_publi_photo {
  height: 5rem;
  width: 5rem;
  margin-left: 1rem;
  display: inline-block;
}
.content_publi_text {
  width: 60%;
  margin-left: 1rem;
  font-size: 1.5rem;
}

/** END ** GENERAL ** CONTENT **/
/** START RESPONSIVE DESING **/
@media (min-width: 768px) {
  .content_aboutUs {
    margin-left: 2rem;
  }
  .content_text {
    margin: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.7;
  }
  .content_publi {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .content_contact {
    width: 80%;
  }
  .content_publi_photo {
    height: 10rem;
    width: 10rem;
  }
}
/** END RESPONSIVE DESING **/
/** START ANIMATIONS **/
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: translateX(6rem) rotate(0);
  }
  50% {
    transform: translate(6rem, 0px) rotate(180deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-photo {
  animation: enterLeft 2s linear 2s;
}

@keyframes enterLeft {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
.right-photo {
  animation: enterRight 2s linear 2s;
}

@keyframes enterRight {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
/** END ANIMATIONS **//*# sourceMappingURL=about-us.css.map */