$xs: 340px;

$containerHeight: 40rem;

* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $containerHeight;
  &_text {
    width: 50%;
  }
}
path {
  padding: 0;
}
svg {
  padding: 0;
}
.rosca {
  width: $xs;
  display: flex;
  height: 15rem;
  &_big {
    width: 50%;
    height: max-content;
    animation: hola 15s linear;
    transform-origin: center;
  }
  &_small {
    width: 50%;
    height: 70%;
    position: relative;
    top: 2rem;
    left: -1.9rem;
  }
}
.bull {
  align-self: flex-start;
  transform: translateX(-14rem);
  animation: bull 12s linear 3s;
}
.juan {
  animation: juan 9s linear 5s;
}
.pedro {
  animation: pedro 9s linear 5s;
}
@keyframes hola {
  0% {
    
  }
  24% {
    transform: rotateZ(360deg);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY($containerHeight - 13rem) rotateY(640deg);
  }

  93% {
    opacity: 1;
  }
  100% {
    transform: translateY($containerHeight - 15rem) translateX($xs);
    opacity: 0;
  }
}
@keyframes bull {
  90% {
    opacity: 1;
    transform: translateX(180px);
  }
  100% {
    opacity: 0;
    transform: translateX(180px);
  }
}
@keyframes juan {
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotateZ(-6deg) rotateY(22deg);
  }
}
@keyframes pedro {
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(25deg) rotateY(-1deg);
  }
}
